# Default owner for all files
* @Chirag10071

# Backend code
/backend/ @Chirag10071 @sreeshanthkandakatla

# Frontend code
/frontend/ @Arushkandare @Sakshi-Kothavade

# Database code
/db/ @Arushkandare @KavyaGorakala123
